@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  width: 1200px;
  min-height: 64px;
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1200px;
  min-height: 64px;
  margin: 0 auto;
  padding: 0;
  justify-content: flex-start;
}

.navigation-logo {
  display: block;
  margin: 0;
  margin-left: 70px;
  margin-right: 30px;
  z-index: 1;
  padding: 0;
}

.navigation-logo img {
  display: block;
}

.navigation-item {
  position: relative;
  margin: 0;
  height: 64px;
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin-left: 0;
  padding: 0;
  margin: 0;
  min-height: 64px;
}

.navigation-link {
  display: inline-block;
  margin: 20px 16px;
  padding-bottom: 19px;
}

.navigation-user {
  display: flex;
  width: 268px;
  margin-right: 70px;
  margin-left: 284px;
}

.navigation-link-user {
  display: flex;
  min-width: 20px;
  min-height: 20px;
}

.navigation-link,
.navigation-link-user {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  position: relative;
}

.navigation-user .navigation-item:not(:last-child) {
  padding: 20px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.count-favorites {
  position: absolute;
  left: 9px;
  top: -10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #fff;
  background-color: #7db54f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button.navigation-link-user {
  color: #fff;
  background-color: #756157;
  width: 160px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 14px 20px
}

.hotel-search-button {
  color: #fff;
  background-color: #756157;
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email-input {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 14px 20px;
}

.submit-button {
  color: #fff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.apply-filter-button {
  color: #fff;
  background-color: #82b3d3;
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  margin-top: 56px;
}

.reset-filter-button {
  width: 191px;
  height: 36px;
  background-color: transparent;
  color: #fff;
}

.button-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-view-current,
.button-view:hover,
.button-view:active {
  border: 2px solid #000;
}

.button-view:focus-visible {
  border: 2px solid #68A2CA;
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-show-more {
  color: #fff;
  background-color: #756157;
  width: 140px;
  height: 36px;
}
.button-favorite {
  color: #fff;
  background-color: #82b3d3;
  width: 140px;
  height: 36px;
}

.button-favorite-active {
  color: #fff;
  background-color: #7db54f;
  width: 140px;
  height: 36px;
}

.rating-star {
  display: inline-block;
  width: 140px;
}

.rating-star .active {
  fill: #83b3d3;
}

.rating-star .disabled {
  fill: transparent;
}

.button-rating {
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 140px;
  height: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 9px;
  cursor: default;
}

button.navigation-link-user:hover,
button.navigation-link-user:focus,
.hotel-search-button:hover,
.hotel-search-button:focus,
.button-show-more:hover,
.button-show-more:focus {
  background-color: #615048;
}

.submit-button:hover,
.submit-button:focus-visible,
.apply-filter-button:hover,
.apply-filter-button:focus-visible,
.button-favorite:hover,
.button-favorite:focus-visible,
.pagination-link:not(.pagination-current):not(.pagination-gap):hover,
.pagination-link:focus-visible {
  background-color: #68A2CA;
}

.button-favorite-active:hover,
.button-favorite-active:focus-visible {
  background-color: #6C9E42;
}

.reset-filter-button:hover,
.breadcrumbs-link:hover {
  opacity: 60%;
}

.reset-filter-button:focus-visible {
  border: 3px solid #83B3D3;
}

.footer-social-icon {
  fill: #83b3d3;
}

.footer-social-icon:hover,
.footer-social-icon:focus-visible {
  fill: #68A2CA;
}

.footer-social-icon:active {
  opacity: 30%;
}

.button:active {
  color: #ffffff30;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.button:not(.reset-filter-button):disabled {
  color: #FFF;
  background-color: #E5E5E5;
  cursor: default;
}

.reset-filter-button:disabled {
  opacity: 10%;
  cursor: default;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  display: block;
  height: 485px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -6px;
  margin-bottom: 69px;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.inner-filter {
  color: #fff;
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  min-height: 412px;
  text-align: left;
  margin: -6px 0 50px;
  padding: 0;
}

.inner-header {
  margin: 0 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding-top: 35px;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin-left: -3px;
  margin-bottom: 40px;
  width: 114px;
  justify-content: space-between;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  position: relative;
}

.breadcrumbs-icon-arrow {
  box-sizing: content-box;
  padding-right: 4px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.sorting {
  margin: 0 70px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.filter-result {
  margin: 0;
  padding: 0;
  width: 338px;
}

.select-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 292px;
  margin-left: 200px;
  margin-right: auto;
  font-family: inherit;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 18px;
  padding-right: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #FFF;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus-visible {
  border-color: #68A2CA;
}

.select-control:disabled {
  border-color: #000000;
  color: #000000;
  opacity: 30%;
  cursor: default;
}

.inner-line {
  margin: 0 70px 40px;
  background-color: #e6e6e6;
  height: 1px;
  border: none;
}

.advantages-title,
.quality-title,
.hotel-search-title,
.newsletter-title,
.filter-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantages-description,
.quality-description,
.hotel-search-description,
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.advantages-item:not(.advantages-item-photo),
.quality-item {
  padding: 0 85px;
}

.advantages-item-title,
.quality-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-line {
  width: 60px;
  height: 0;
  border-bottom: 2px solid;
  opacity: 0.3;
  align-self: center;
  margin: 30px auto;
}

.hotel-card-image {
  object-fit: contain;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
  color: #000;
}

.advantages {
  text-align: center;
  margin-bottom: 64px;
}

.advantages-list li:not(:first-child):not(:last-child) .advantages-item-description,
.quality-item-description {
  color: #333;
}

.advantages-item-description {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-photo {
  width: 800px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5),
.quality-item:nth-child(odd) {
  background-color: #83b3d31e;
}

.advantages-item:nth-child(4) {
  background-color: #83b3d333;
}

.advantages-list li:is(:first-child, :last-child) {
  color: #fff;
  background-color: #82b3d3;
}

.quality,
.hotel-search {
  text-align: center;
}

.hotel-search {
  margin-bottom: 96px;
}

.quality-list {
  display: flex;
  margin: 0 0 96px;
  padding: 0;
  align-items: center;
}

.quality-item {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quality-icon {
  margin-bottom: 30px;
}

.quality-description {
  margin-bottom: 64px;;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1060px;
  margin: 0 70px 40px;
  gap: 20px;
  padding: 0;
}

.hotel-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px auto auto auto auto;
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-card-link {
  display: block;
  grid-column: 1/ -1;
}

.hotel-card-type {
  grid-row: 3/4;
}

.hotel-card-price {
  text-align: right;
}

.pagination {
  display: flex;
  width: 1060px;
  gap: 8px;
  margin: 0 70px;
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
}

.newsletter {
  text-align: center;
  margin-bottom: 40px;
}

.newsletter-index {
  color: #FFF;
  text-align: center;
  background-image: url(../images/subscribe.jpg);
  box-sizing: border-box;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-index .newsletter-description {
  color: #FFF;
  margin: 20px 0 54px;
  padding: 0 362.5px;
}

.newsletter-inner {
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-inner .newsletter-description {
  margin: 20px 0 54px;
  padding: 0 362.5px;
}

.newsletter-inner .newsletter-email-input {
  background-color: #F2F2F2;
}

.hotel-search-button,
.submit-button {
  font-size: 20px;
  line-height: 36px;
  height: 52px;
}

.footer-contacts-address-phone {
  display: block;
  text-align: center;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 41.5px;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus-visible {
  color: #756157;
}

.footer-contacts-address-phone:active,
.about-link svg:active {
  opacity: 30%;
}

.about-link svg {
  fill: #000;
}

.about-link svg:hover,
.about-link svg:focus-visible {
  fill: #756157;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  line-height: 23px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #82b3d3;
  text-decoration: none;
  padding-top: 12px;
  box-sizing: border-box;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}

.pagination-gap {
  color: #000;
  background-color: transparent;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  flex-direction: row;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  margin: 0;
  padding: 0;
}

.page-footer-container {
  margin: 0 70px 30px;
  display: flex;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  position: relative;
}

.footer-social-item svg {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.catalog-hotels {
  display: flex;
}

.catalog-filter {
  display: flex;
  width: 1200px;
  margin: 0 70px;
  padding: 0;
}

.left-filter {
  width: 371px;
  margin-right: auto;
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left-filter .control {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.left-filter .control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.left-filter .control-label {
  position: relative;
  padding-left: 36px;
  display: inline-block;
}

.control-label::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1.5px;
  left: 0;
  background-color: #fff;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.control-radio::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1.5px;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5Z' fill='%233F5E72'/%3E%3C/svg%3E");
}

.control-input[type="checkbox"]:checked + .control-label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%233F5E72' d='m15 5-6.5 7.4-3.4-3.9L4 9.7l4.5 5.2 7.7-8.6z'/%3E%3C/svg%3E");
}

.right-filter {
  width: 549px;
  display: flex;
}

.right-filter .catalog-filter-group {
  width: 288px;
  margin-right: 70px;
}

.right-filter .catalog-filter-list {
  display: flex;
  gap: 2px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.right-filter .control-input:not([type="range"]) {
  width: 143px;
  height: 48px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
}

.control-input::-webkit-outer-spin-button,
.control-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right-filter .control-input:not([type="range"])::placeholder {
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 20px;
}

.control-input[type="range"] {
  margin-top: 36px;
  width: 288px;
}

.control-input[name="price-low"] {
  border-radius: 4px 0 0 4px;
}

.control-input[name="price-high"] {
  border-radius: 0 4px 4px 0;
}

.right-filter .control {
  position: relative;
  display: block;
}

.control-input[type="number"] {
  padding-left: 40px;
  height: 48px;
  box-sizing: border-box;
}

.control-label:hover {
  opacity: 60%;
}

.control-input:focus-visible + .control-label::before {
  outline: 3px solid #83B3D3;
}

.control-label:active {
  opacity: 30%;
}

.control.low::after,
.control.high::after {
  position: absolute;
  top: 13px;
  right: 20px;
  color: #000;
  opacity: 0.3;
  font-size: 18px;
  z-index: 1;
}

.control.low::after {
  content: 'от';
}

.control.high::after {
  content: 'до';
}

.control-input[type="number"]:hover {
  background-color: #E5E5E5;
}

.control-input[type="number"]:focus-visible {
  outline: 3px solid #83B3D3;
}
